* {
  font-family: 'SF Mono', sans-serif;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
}

window#waybar {
  background-color: transparent;
  color: #ebdbb2;
}

#workspaces {
}

#workspaces button.active {
  background-color: #8ec07c;
  padding: 0 15px 0 15px;
  color: #282828;
}

.modules-left {
  padding-left: 20px;
  padding-right: 20px;
}

.modules-right {
  padding-right: 20px;
  padding-left: 20px;
}

.modules-center {
  background-color: #282828;
}

#clock {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 15px;
  background-color: #282828;
  color: #b8bb26;
}

#network {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #282828;
  color: #d3869b;
}

#cpu {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #282828;
  color: #d3869b;
}

#temperature {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 15px;
  background-color: #282828;
  color: #d3869b;
}

#pulseaudio-slider {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #282828;
  color: #fabd2f;
}
#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background: black;
}
#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: green;
}

#custom-power {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 15px;
  background-color: #282828;
  color: #fabd2f;

}
