* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  border: none;
  border-radius: 0;

}

window#waybar {
  background-color: transparent;
  color: #ebdbb2;
}

#workspaces {
}

#workspaces button.active {
  background-color: #8ec07c;
  padding: 0 15px 0 15px;
  color: #282828;
}

.modules-left {
  padding-left: 20px;
  padding-right: 20px;
}

.modules-right {
  padding-right: 20px;
  padding-left: 20px;
}

.modules-center {
  background-color: #282828;
}

#clock {
  margin: 4px 4px;
  padding: 6px 10px 6px 16px;
  background-color: #1b2023;
  color: #b3cad4;
  border-radius: 20px;
}

#tray {
  margin: 4px 4px;
  padding: 6px 10px 6px 16px;
  background-color: #1b2023;
  color: #b3cad4;
  border-radius: 20px;
}

#network {
  margin: 4px 4px;
  padding: 6px 10px 6px 16px;
  background-color: #1b2023;
  color: #b3cad4;
  border-radius: 20px;
}

#pulseaudio {
  margin: 4px 4px;
  padding: 6px 10px 6px 16px;
  background-color: #1b2023;
  color: #b3cad4;
  border-radius: 20px;
}


#pulseaudio-slider slider {
  opacity: 0;
  box-shadow: none;
  border-radius: 5px;
}

#pulseaudio-slider trough {
  min-height: 5px;
  min-width: 50px;
  border-radius: 50px;
  background: #787c99;
}

#pulseaudio-slider highlight {
  border-radius: 5px;
  background-image: none;
}

#custom-power {
  margin: 4px 4px;
  padding: 6px 10px 6px 10px;
  background-color: #1b2023;
  color: #b3cad4;
  border-radius: 20px;
}

#power-profiles-daemon {
  margin: 4px 4px;
  padding: 6px 10px 6px 14px;
  background-color: #1b2023;
  color: #b3cad4;
  border-radius: 20px;
}

#custom-arrowright {
  margin: 4px 4px;
  padding: 6px 10px 6px 16px;
  background-color: #1b2023;
  color: #b3cad4;
  border-radius: 20px;
}
